---
import { showTags } from "@/consts";

if (!showTags) {
  return Astro.redirect("/");
}

import BaseLayout from "@/layouts/BaseLayout.astro";
import Post from "@/components/Post.astro";
import ShowMoreScript from "@/components/showMoreScript.astro";

import { fetchAllIssueLabels } from "@/data/fetchAllIssueLabels";
import type { GithubIssueWithSlug } from "@/types/githubIssueTypes";

import { fetchAllGithubIssues } from "@/data/fetchAllGithubIssues";

export async function getStaticPaths() {
  const allTags = await fetchAllIssueLabels();

  return allTags.map((label) => ({
    params: { slug: label.name },
    props: label,
  }));
}
const { slug } = Astro.params;

// const post = Astro.props as Label;

// // Get as many posts as possible
const posts = await fetchAllGithubIssues();

// // find all the posts where the slug matches the label name
const tagPosts = posts.filter((post: GithubIssueWithSlug) => {
  return post.labels.some((label) => {
    if (typeof label == "string") return false;
    else {
      return label.name === slug;
    }
  });
});

// if (tagPosts === undefined || tagPosts.length === 0)
//   return Astro.redirect("/404");
---

<BaseLayout title={`${slug}`} description={`All the posts tagged as ${slug}`}>
  <h2 class="mb-0 before:content-['#']">{slug}</h2>
  <p class="pt-0">
    <a
      href="/tags"
      class="text-sm font-normal no-underline hover:underline before:content-['â†']"
    >
      Back to all tags</a
    >
  </p>
  {
    tagPosts !== undefined && tagPosts.length > 0 ? (
      <ul class="flex flex-col pl-0 gap-y-8">
        {tagPosts.map(({ title, slug, created_at, body, labels }) => {
          if (typeof labels === "string") return false;
          return (
            <Post
              title={title}
              slug={slug}
              created_at={created_at}
              body={body}
              labels={labels}
            />
          );
        })}
      </ul>
    ) : (
      <p class="text-center text-gray-500">No posts yet</p>
    )
  }
</BaseLayout>
<ShowMoreScript />
