---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Post from "../../components/Post.astro";

import { getGithubIssues } from "../../data/getGithubIssues";
import type { GithubIssueWithSlug } from "../../data/getGithubIssues";
const { slug } = Astro.params;
const posts: GithubIssueWithSlug[] = await getGithubIssues();

// // find all the posts where the slug matches the label name
const tagPosts = posts.filter((post: GithubIssueWithSlug) => {
  return post.labels.some((label) => {
    if (typeof label == "string") return false;
    else {
      return label.name === slug;
    }
  });
});

if (tagPosts === undefined) return Astro.redirect("/404");
---

<BaseLayout title={`${slug}`} description={`All the posts tagged as ${slug}`}>
  <h2 class="mb-0 before:content-['#']">{slug}</h2>
  <p class="pt-0">
    <a
      href="/tags"
      class="text-sm font-normal no-underline hover:underline before:content-['â†']"
    >
      Back to all tags</a
    >
  </p>
  {
    tagPosts !== undefined && tagPosts.length > 0 ? (
      <ul class="flex flex-col gap-y-6 pl-0">
        {tagPosts.map(({ title, slug, created_at, body, labels }) => {
          if (typeof labels === "string") return false;
          return (
            <Post
              title={title}
              slug={slug}
              created_at={created_at}
              body={body}
              labels={labels}
            />
          );
        })}
      </ul>
    ) : (
      <p class="text-center text-gray-500">No posts yet</p>
    )
  }
</BaseLayout>
