---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";

import {getGithubIssues} from "../data/githubIssues";
import type { ProcessedGitHubIssue } from "../data/githubIssueTypes";

const posts: ProcessedGitHubIssue[] = await getGithubIssues();


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
	<FormattedDate date={post.created_at} />
								<a href={`/${post.slug}/`}>{post.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
