---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { fetchMultipleGithubIssues } from "@/data/fetchMultipleGithubIssues";
import type { GithubIssueWithSlug } from "@/types/githubIssueTypes";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Post from "@/components/Post.astro";
import ShowMoreScript from "@/components/showMoreScript.astro";

let pageParam: string;
pageParam = Astro.url.searchParams.get("page") || "1";

// if (pageParam && isNaN(Number(pageParam))) {
//   return Astro.redirect("/");
// }

// if (pageParam && Number(pageParam) < 2) {
//   return Astro.redirect("/");
// }

const posts: GithubIssueWithSlug[] = await fetchMultipleGithubIssues(pageParam);

const nextPagePosts: GithubIssueWithSlug[] = await fetchMultipleGithubIssues(
  String(Number(pageParam) + 1)
);

const numberOfNextPagePosts = nextPagePosts.length;
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  image={`/image/index.png`}
>
  {
    posts.length > 0 ? (
      <>
        <ul class="flex flex-col pl-0 gap-y-8 max-w-prose">
          {posts.map(({ title, slug, created_at, body, labels }) => {
            if (typeof labels === "string") return false;
            return (
              <Post
                title={title}
                slug={slug}
                created_at={created_at}
                body={body}
                labels={labels}
              />
            );
          })}
        </ul>

        {numberOfNextPagePosts > 0 && (
          <div class="px-2 py-1 mx-auto bg-gray-600 rounded hover:shadow-lg max-w-fit">
            <button class="text-white morePostsButton">
              More posts &#8594
            </button>
          </div>
        )}
      </>
    ) : (
      <p class="text-center text-gray-500">No posts yet</p>
    )
  }
</BaseLayout>

<ShowMoreScript />

<script define:vars={{ pageParam }}>
  const morePostsButton = document.querySelector("button.morePostsButton");
  if (morePostsButton !== null) {
    morePostsButton.addEventListener("click", () => {
      window.location.href = `/?page=${Number(pageParam || 1) + 1}`;
    });
  }
</script>
