---
import { parseMD } from "@/utils/parseMD";
import { showTags, showTitles } from "@/consts";
import { formatDate } from "@/utils/formatDate";
// import extractLinks from "@/utils/extractLinksForPreview";

import type { Label } from "../pages/tags/index.astro";
// import LinkPreview from "./LinkPreview.astro";

type Props = {
  title: string;
  slug: string;
  created_at: string;
  body: string | null | undefined;
  labels: Label[];
};

const { title, slug, created_at, body, labels } = Astro.props;

// let linkPost = false;
// let linkURLs: string[] = [];

// if (labels !== undefined && labels.length > 0) {
//   linkPost = labels.some((label) => {
//     if (typeof label !== "string") {
//       return label.name === "link";
//     } else {
//       return label === "link";
//     }
//   });
// }

// if (typeof body !== "undefined" && body !== null) {
//   linkURLs = extractLinks(body, linkPost);
// }
---

<li
  class="relative flex flex-col p-0 my-0 overflow-hidden outline rounded-lg hover:shadow-xl gap-y-8 hover:outline-4 postWrapper"
  transition:name={title}
>
  <a
    href={`/post/${slug}/`}
    class="absolute mt-0 text-right right-2 top-2 hover:-translate-y-0.5 hover:translate-x-0.5"
  >
    <span class="sr-only">Link to post</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
      ></path>
    </svg>
  </a>
  <div class="px-8 pt-6 max-h-[512px] contentWrapper">
    {
      showTitles && (
        <h2 class="mt-0 text-lg font-semibold" transition:name="postTitle">
          <a href={`/post/${slug}/`}>{title}</a>
        </h2>
      )
    }

    <div class="postContent">
      {
        body !== null && body !== undefined && (
          <>
            <div
              class="max-h-full prose dark:prose-invert"
              set:html={parseMD(body)}
            />
          </>
        )
      }
    </div>
  </div>

  <div
    class="relative flex flex-col justify-center px-8 py-4 mb-0 bg-gray-200 sm:flex-row sm:justify-between sm:items-center dark:bg-gray-700 gap-y-2"
  >
    {
      body !== null && body !== undefined && (
        <div class="absolute left-[20px] -top-16 showMoreButtonWrapper hidden">
          <div class="px-0.5 py-0.5 bg-gray-600 border-2 border-gray-400 rounded drop-shadow-2xl">
            <button class="text-white bg-gray-800 px-4 py-2 drop-shadow-2xl hover:translate-y-0.5">
              Show more &#8595;
            </button>
          </div>
        </div>
      )
    }

    <p
      class="my-0 text-sm flex flex-row items-center"
      title={formatDate(created_at)}
    >
      <a
        href={`/post/${slug}/`}
        class="font-normal no-underline hover:underline"
      >
        <time class="hidden" datetime={created_at} data-datetime={created_at}>
          {formatDate(created_at)}
        </time>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4 inline pb-0.5 pl-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          ></path>
        </svg>
      </a>
    </p>

    {
      showTags && labels.length > 0 && (
        <ul class="flex pl-0 my-0 list-none gap-x-2">
          {labels.map(({ name }) => (
            <li class="pl-0 my-0">
              <a
                href={`/tags/${name}/`}
                class="hover:underline no-underline before:content-['#'] text-sm font-normal"
              >
                {name}
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</li>
