---
import RelativeDate from "../components/RelativeDate.astro";
import { parseMD } from "../utils/parseMD";
import { showTags, showTitles } from "../consts";
import { formatDate } from "../utils/formatDate";

import type { Label } from "../pages/tags/index.astro";
type Props = {
  title: string;
  slug: string;
  created_at: string;
  body: string | null | undefined;
  labels: Label[];
};

const { title, slug, created_at, body, labels } = Astro.props;
---

<li
  class="flex flex-col relative border hover:shadow-xl p-0 rounded-lg gap-y-8 overflow-hidden postWrapper"
>
  <a href={`/${slug}/`} class="mt-0 text-right absolute right-2 top-2">
    <span class="sr-only">Link to post</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
      ></path>
    </svg>
  </a>
  <div class="px-8 pt-4 max-h-80 postContent">
    {
      showTitles && (
        <h2 class="font-semibold text-lg mt-0">
          <a href={`/${slug}/`}>{title}</a>
        </h2>
      )
    }

    {
      body !== null && body !== undefined && (
        <div
          class="prose dark:prose-invert max-h-full"
          set:html={parseMD(body)}
        />
      )
    }
  </div>

  <div
    class="mb-0 relative flex flex-col sm:flex-row justify-center sm:justify-between sm:items-center bg-gray-200 dark:bg-gray-700 px-8 py-4 gap-y-2"
  >
    {
      body !== null && body !== undefined && (
        <div class="absolute left-[30px] -top-12 showMoreButtonWrapper hidden">
          <div class="bg-gray-600 rounded py-1 px-2 hover:shadow-lg">
            <button class="text-white">Show more &#8595;</button>
          </div>
        </div>
      )
    }

    <p class="my-0 text-sm" title={formatDate(created_at)}>
      <a href={`/${slug}/`} class="no-underline hover:underline font-normal">
        <RelativeDate date={created_at} />
      </a>
    </p>

    {
      showTags && labels.length > 0 && (
        <ul class="flex gap-x-2 list-none my-0 pl-0">
          {labels.map(({ name }) => (
            <li class="my-0 pl-0">
              <a
                href={`/tags/${name}/`}
                class="hover:underline no-underline before:content-['#'] before:-mr-1 text-sm font-normal"
              >
                {name}
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</li>
