---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Search from "@/components/Search.svelte";
import { fetchAllGithubIssues } from "@/data/fetchAllGithubIssues";
import type { GithubIssueWithSlug } from "@/types/githubIssueTypes";
import { marked } from "marked";

type Props = {
  title: string;
  description: string;
  slug?: string;
  image?: string;
};
const { title, description, image } = Astro.props;

// Some things to get the right data to the OG image generator
const pathname = Astro.url.pathname;

let { slug } = Astro.params;
let socialImage = "";

if (image !== undefined) {
  socialImage = image;
}

// if (pathname === "/" || slug === undefined) {
//   socialImage = `/image/index.png`;
// }

// It's the tags page
if (pathname === "/tags") {
  socialImage = "/image/tagsPage.png";
}

// It's a tag page
if (pathname.startsWith("/tags/")) {
  const tag = pathname.split("/")[2];
  socialImage = `/image/tagged-as-${tag}.png`;
}

const allPosts: GithubIssueWithSlug[] = await fetchAllGithubIssues();

async function getSearchIndexForAllPosts() {
  return allPosts.map((post) => {
    const body = post.body || "";

    const cleanedBody = body
      .replace(/!\[(.*?)\]\(.*?\)/g, "$1") // keep alt text, remove rest of image markdown
      .replace(/https?:\/\/.*\.(mov|mp4)/gi, "") // remove video links (case insensitive)
      .replace(/\n|\r/g, ""); // remove line breaks

    const tags = post.labels
      .map((label) => {
        if (typeof label === "string") {
          return label;
        } else if (label && typeof label === "object" && "name" in label) {
          return label.name;
        }
        return "";
      })
      .join(" ");

    return {
      title: post.title,
      slug: post.slug,
      body: cleanedBody,
      created_at: post.created_at,
      updated_at: post.updated_at,
      tags: tags,
    };
  });
}

const allPostsSearchIndex = await getSearchIndexForAllPosts();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={socialImage} />
  </head>
  <body
    class="container grid grid-rows-[auto_1fr_auto] grid-cols-12 min-h-[100dvh] mx-auto pt-4 pb-8 px-4 gap-y-12 dark:bg-gray-800 dark:text-white"
  >
    <Header />
    <main class="prose dark:prose-invert col-span-full mx-auto max-w-full">
      <slot />
    </main>
    <Footer />
    <Search client:idle allPostsSearchIndex={allPostsSearchIndex} />
  </body>
</html>
