---
import FormattedDate from "../components/FormattedDate.astro";
import { parseMD } from "../utils/parseMD";
import type { ProcessedGitHubIssue } from "../data/githubIssueTypes";
import BaseLayout from "./BaseLayout.astro";
import { showTitles } from "../consts";

type Props = ProcessedGitHubIssue;

const { title, body, created_at, updated_at, labels } = Astro.props;
---

<BaseLayout>
  <article>
    {showTitles && <h1>{title}</h1>}

    <p><FormattedDate date={created_at} /></p>

    {
      labels.length > 0 && (
        <div>
          <p>Tags</p>
          <ul>
            {labels.map((label) => (
              <li>{label.name}</li>
            ))}
          </ul>
        </div>
      )
    }

    {
      updated_at && updated_at !== created_at && (
        <div class="mt-8">
          Last updated on <FormattedDate date={updated_at} />
        </div>
      )
    }
    <hr />

    <div class="mt-12" set:html={parseMD(body)} />
  </article>
</BaseLayout>
