---
import type { GithubIssueWithSlug } from "../data/getGithubIssues";

import FormattedDate from "../components/FormattedDate.astro";
import { parseMD } from "../utils/parseMD";
import BaseLayout from "./BaseLayout.astro";
import { showTitles } from "../consts";

type Props = GithubIssueWithSlug;

const { title, body, created_at, updated_at, labels } = Astro.props;
---

<BaseLayout>
  <article>
    {showTitles && <h1>{title}</h1>}

    <p><FormattedDate date={created_at} /></p>

    {
      labels !== undefined && labels.length > 0 && (
        <div class="flex sm:items-center flex-col sm:flex-row gap-x-2">
          <p class="my-0">Tags</p>
          <ul class="flex list-none pl-0 my-0 gap-x-2">
            {labels.map((label) => (
              <li class="my-0 px-0">
                {typeof label !== "string" ? (
                  <a href={`${label.name}`}>{label.name}</a>
                ) : (
                  <a href={`${label}`}>{label}</a>
                )}
              </li>
            ))}
          </ul>
        </div>
      )
    }

    {
      updated_at && updated_at !== created_at && (
        <div class="mt-8">
          Last updated on <FormattedDate date={updated_at} />
        </div>
      )
    }
    <hr />

    {
      body !== undefined && body !== null && (
        <div class="mt-12" set:html={parseMD(body)} />
      )
    }
  </article>
</BaseLayout>
